<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center"><small>Company © {{CurrentDate | date:'yyyy'}} | Application Name</small></p>
        </div>
    </div>
</div>