<div class="navbar navbar-default navbar-fixed-top content-wrapper" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="main.home">
                Application Name
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-right" main-navbar-links>
            </ul>
        </div>
        <div class="visible-xs-block">
            <nav class="navbar-collapse collapse" uib-collapse="!isCollapsed">
                <ul class="nav navbar-nav navbar-right" main-navbar-links>
                </ul>
            </nav>
        </div>
    </div>
</div>