<li ui-sref-active="active"><a ui-sref="main.home" ng-click="isCollapsed = false" title="Home"><span class="fa fa-home" aria-hidden="true"></span> Home</a></li>
<li ui-sref-active="active"><a ui-sref="main.about" ng-click="isCollapsed = false" title="About"><span class="fa fa-folder-open" aria-hidden="true"></span> About</a></li>
<li ui-sref-active="active"><a ui-sref="main.contact" ng-click="isCollapsed = false" title="Contact"><span class="fa fa-phone" aria-hidden="true"></span> Contact</a></li>