<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h2>Contact Info</h2>
            <address>
                <strong>Twitter, Inc.</strong><br> 1355 Market Street, Suite 900<br> San Francisco, CA 94103<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>

            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
        </div>
        <div class="col-sm-8">
            <h2>Map</h2>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.6405055886635!2d-79.05362094926865!3d35.90681932507701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89acc2ef3dd4db27%3A0xe1d939f44f50cd03!2sNorth+Carolina+Ahec+Program!5e0!3m2!1sen!2sus!4v1490373632094"
                width="" height="" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</div>